.dashSection1{
    background: #303F60;
}

.jobContainer{
    min-height:90vh;
    height: 100%;
    
}
.round{
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.center{
    text-align: center;
}
.textTruncate{
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}