.section1{
    background: #303F60;
}
.formsection{
    
    margin-bottom: -150px;
    margin-top: 100px;
}
/* .section1row{
    border: 5px solid green;
} */
.resetSection2{
     height: 70vh;
    background: #EDF6FF;
    
}
.round{
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.center{
    text-align: center;
}