.section1{
    color:#fff;
    background: #303F60;
}
.section2{
    background: #EDF6FF;
}
.companyImg{
        height: 70px;
    padding: 15px;
}
/* .section1row{
    border: 5px solid red;font-weight-bold 
      
} */
.marginNagetive{
    margin-bottom: -50px;
}